<div class="container" style="margin-top: 24px; margin-bottom: 50px;">
  <h4>Company Details</h4><br>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Companies</mat-card-title>
      <button type="button" class="btn btn-primary" mat-raised-button (click)="openDialog()"><i class="fa fa-plus"
          style="font-size:14px; padding-right: 9px"> Add New</i></button>
    </mat-card-header>
    <mat-card-content>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead class="table-active">
              <tr>
                <th>companyName</th>
                <th>companyAddress</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody *ngFor="let element of companieslist">
              <tr>
                <td (click)="projectview(element);" style="color:blue !important">{{element.companyName}}</td>
                <td>{{element.companyAddress}}</td>
                <td><button type="button" class="btn btn-danger" mat-raised-button
                    (click)="receipt(element);openEditDialog()"> <i class="fa fa-pencil-square-o"
                      style="font-size:18px"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>