<div class="container" style="margin-top:50px;">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Change Password</h4>
      <form #changePassword="ngForm" name="changePassword" (ngSubmit)="OnChangePsd(changePassword)">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="oldPassword" placeholder="old password" #oldPassword="ngModel"
              [(ngModel)]="changepasswordvalue.oldPassword" pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/" required
              minlength="5" type="password">
            <!-- validateEqual="oldPassword" -->
          </div>
          <div style="color:red" *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors && password.errors.required">
              Password is required
            </small>
            <small *ngIf="password.errors && password.errors.pattern">
              at least one number, one lowercase and one uppercase letter and five characters
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="newPassword" placeholder="New password" #newPassword="ngModel"
              [(ngModel)]="changepasswordvalue.newPassword" pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/" required
              minlength="5" type="password">
            <!-- validateEqual="newPassword" -->
          </div>
          <div style="color:red" *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors && password.errors.required">
              Password is required
            </small>
            <small *ngIf="password.errors && password.errors.pattern">
              at least one number, one lowercase and one uppercase letter and five characters
            </small>
          </div>
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="confirmpassword" placeholder="Confirm password" #confirmpassword="ngModel"
              [(ngModel)]="changepasswordvalue.confirmpassword" pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/"
              required minlength="5" type="password">
            <!-- validateEqual="newPassword" -->
          </div>
          <div style="color:red" *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors && password.errors.required">
              Password is required
            </small>
            <small *ngIf="password.errors && password.errors.pattern">
              at least one number, one lowercase and one uppercase letter and five characters
            </small>
          </div>
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <button [disabled]="changePassword.pristine || changePassword.invalid" type="submit"
            class="btn btn-secondary btn-block" [routerLink]="'/login'"> Submit</button>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->